@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;  
    background-color: #F89880;

}

.static-filter {
    background-image: url("resources/noise.png");
    z-index: 5;
    animation: static-shift 0.1s linear infinite both;
    pointer-events: none;
    width: 150%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

   
    
    
}
@keyframes static-shift {
    0% {
        transform: translate(-10%);
    }
    100% {
        transform: translate(-20%);
    }
}

#title {
    text-align: center;
    font-size: 120px;
    color: white;
    font-family: "Jersey 10", serif;
    text-shadow: white 0px 0px 20px;
    animation-name: glow-text;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    
    
}

.white-bg {
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.gift {
    width: 200px;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.gift-cap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #811331;
    width: 100%;
    height: 20%;
    float: right;
    transition: 0.5s ease-out;
    z-index: 5;
}
.gift-ribbon {
    background-color: #F2D2BD;
    width: 10%;
    height: 100%;
}

.gift-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #811331;
    width: 90%;
    height: 80%;
    z-index: 2;
}

.gift-content {
    transition: 0.5s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    aspect-ratio: 1;
    z-index: 1;
}

.gift:hover > .gift-cap {
    transform-origin: 100px 150px;
    transition: 0.5s ease-out;
    transform: rotate(50deg);

}
.gift:hover > .gift-content {
    transform: translate(-80%, -120%);
}


@keyframes glow-text {
    from {
        text-shadow: white 0px 0px 0px;
    }
    to {
        text-shadow: white 0px 0px 20px;
    }
}
img {
    width: 100%;
}
.cat {
    position: absolute;
    width: 200px;
}